/* body{
    font-family: 'Poppins', sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	/* color: #212112; 
	background-position: center;
	background-repeat: repeat;
	background-size: 7%;
	background-color: #fff;
	overflow-x: hidden;
    transition: all 200ms linear;
} */
.dashboard{
    background-color: white !important;
}
.header-fixed {
	/* background-color:#292c2f; */
    background-color: #603F83;
	box-shadow:0 1px 1px #ccc;
	padding: 20px 40px;
	height: 80px;
	color: #ffffff;
	box-sizing: border-box;
	top:-100px;

	-webkit-transition:top 0.3s;
	transition:top 0.3s;
}

.header-fixed .header-limiter {
	max-width: 1200px;
	text-align: center;
	margin: 0 auto;
}

/*	The header placeholder. It is displayed when the header is fixed to the top of the
	browser window, in order to prevent the content of the page from jumping up. */

.header-fixed-placeholder{
	height: 80px;
	display: none;
}

/* Logo */

.header-fixed .header-limiter h1 {
	float: left;
	font: normal 28px Cookie, Arial, Helvetica, sans-serif;
	line-height: 40px;
	margin: 0;
}

.header-fixed .header-limiter h1 span {
	/* color: #5383d3; */
}

/* The navigation links */

.header-fixed .header-limiter a {
	color: #ffffff;
	text-decoration: none;
}

.header-fixed .header-limiter nav {
	font:16px Arial, Helvetica, sans-serif;
	line-height: 40px;
	float: right;
}

.header-fixed .header-limiter nav a{
	display: inline-block;
	padding: 0 5px;
	text-decoration:none;
	color: #ffffff;
	opacity: 0.9;
}

.header-fixed .header-limiter nav a:hover{
	opacity: 1;
}

.header-fixed .header-limiter nav a.selected {
	color: #608bd2;
	pointer-events: none;
	opacity: 1;
}

/* Fixed version of the header */

body.fixed .header-fixed {
	padding: 10px 40px;
	height: 50px;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

body.fixed .header-fixed-placeholder {
	display: block;
}

body.fixed .header-fixed .header-limiter h1 {
	font-size: 24px;
	line-height: 30px;
}

body.fixed .header-fixed .header-limiter nav {
	line-height: 28px;
	font-size: 13px;
}


/* Making the header responsive */

@media all and (max-width: 600px) {

	.header-fixed {
		padding: 20px 0;
		height: 75px;
	}

	.header-fixed .header-limiter h1 {
		float: none;
		margin: -8px 0 10px;
		text-align: center;
		font-size: 24px;
		line-height: 1;
	}

	.header-fixed .header-limiter nav {
		line-height: 1;
		float:none;
	}

	.header-fixed .header-limiter nav a {
		font-size: 13px;
	}

	body.fixed .header-fixed {
		display: none;
	}

}

/*
	 We are clearing the body's margin and padding, so that the header fits properly.
	 We are also adding a height to demonstrate the scrolling behavior. You can remove
	 these styles.
 */

body {
    width: 100vw;
    height: 100vh;
	margin: 0;
	padding: 0;
	/* height: 1500px; */
    

}
.cont{
    width: 100%;
    height: 100%;
    /* background-color: aqua; */

}
.mid-cont{
    width: 100%;
    height: 100%;
    /* background-color: #C7D3D4; */

    /* display: flex; */
    justify-content: center;
    /* align-items: center; */
}

#logo-name{
    font-family: Sriracha
    ;
}
.creat-class{
    width: 30%;
    height: 30%;
    /* background-color: #608bd2; */
    display: flex;
    justify-content: space-around;
    align-items: center;
	position: relative;
	left: 35%;

}
.creat-class img{
    width: 50%;
    height: 50%;
    border-radius: 10px;

}
#creat-logo{
    /* color: gray; */
    /* background-color: gray; */
	border: none;
	outline: none;
	border-radius: 5px;
	width: 30%;
	height: 20%;
	background-color: #603F83;
	color: #ffffff;
}
#creat-logo:hover{
	background-color: #939696;
}
#Creat-student{
	 /* color: gray; */
    /* background-color: gray; */
	border: none;
	outline: none;
	border-radius: 5px;
	width: 30%;
	height: 20%;
	background-color: #603F83;
	color: #ffffff;
}
#Creat-student:hover{
	background-color: #939696;
}
.cards{
	width: 100%;
	height: 100%;
	/* background-color: #608bd2; */

	display: flex;
	justify-content: center;
}
.card{height: 30%;
margin: 10px;
}

.cards-child{
	width: 90%;
	height: 100%;
	/* background-color: violet; */
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;

}
.card-body{
	display: fle;
}
.div1{
	width: 100%;
	height: 13%;
	background-color:gainsboro;
	margin-top: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.div2{
	width: 100%;
	height: 13%;
	background-color:gainsboro;
	margin-top: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}
/* .div3{
	width: 100%;
	height: 13%;
	background-color:gainsboro;
	margin-top: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	
} */
/* .div4{
	width: 100%;
	height: 13%;
	background-color: gainsboro;
	margin-top: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
} */

/* .div5{
	width: 100%;
	height: 13%;
	background-color: gainsboro;
	margin-top: 10px; 
	display: flex;
	align-items: center;
	justify-content: center;
} */
.div6{
	margin-top: 10px;
	width: 100%;
	height: 13%;
	background-color: gainsboro;
	display: flex;
	align-items: center;
	justify-content: center;
}
